<div class="container mt-4">
  <div
    *ngIf="!isLoading && courses.length === 0"
    class="text-center py-5 text-muted"
  >
    <i class="bi bi-journal-x fs-1"></i>
    <p class="mt-3">No courses available.</p>
  </div>
  <div class="row" *ngIf="!isLoading">
    <div
      class="col-md-4 mb-4"
      *ngFor="let course of courses; trackBy: trackByCourseId"
    >
      <div class="card h-100 shadow-sm course-card">
        <div class="course-image-wrap">
          <!-- <img
            *ngIf="course.imageCover"
            [src]="'http://localhost:8080/api/courses/image/' + course.id"
            class="card-img-top course-image"
            alt="Course image"
          /> -->
          <img
            *ngIf="course.imageCover"
            [src]="getImageUrl(course.id)"
            class="card-img-top course-image"
            alt="Course image"
          />
        </div>

        <span
          class="badge position-absolute top-0 end-0 m-2"
          [ngClass]="{
            'bg-success': course.courseType === 'FREE',
            'bg-primary': course.courseType === 'PAID',
          }"
        >
          {{ course.courseType }}
        </span>

        <div class="card-body d-flex flex-column course-body">
          <h5 class="fw-bold course-title">
            {{ course.name }}
          </h5>

          <p class="text-muted small mb-3 course-description">
            {{ course.courseDescription | slice: 0 : 100 }}
          </p>

          <p class="text-muted small mb-2">
            <i class="bi bi-person-circle me-1"></i>
            {{ course.authorName }}
          </p>

          <div class="d-flex justify-content-between align-items-center mb-3">
            <span *ngIf="course.courseType === 'PAID'" class="fw-bold">
              ${{ course.price }}
            </span>
            <span>
              <i class="bi bi-eye me-1"></i>
              {{ course.views }}
            </span>

            <button
              class="btn btn-sm like-btn"
              [ngClass]="course.liked ? 'btn-danger' : 'btn-outline-danger'"
              (click)="course.liked ? unlikeCourse(course) : likeCourse(course)"
            >
              <i
                class="bi"
                [ngClass]="course.liked ? 'bi-heart-fill' : 'bi-heart'"
              >
              </i>
              {{ course.likes }}
            </button>
          </div>

          <button class="btn btn-primary mt-auto" (click)="goToDetail(course)">
            <i class="bi bi-book me-2"></i>
            View Detail
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
