<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">AdminKit</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">Pages</li>

      <li
        class="sidebar-item"
        routerLinkActive="active"
        *ngIf="authService.getRoles().includes('ADMIN')"
      >
        <a class="sidebar-link" routerLink="user">
          <i class="align-middle" data-feather="sliders"></i>
          <span class="align-middle">User</span>
        </a>
      </li>

      <li
        class="sidebar-item"
        routerLinkActive="active"
        *ngIf="
          authService.getRoles().includes('ADMIN') ||
          authService.getRoles().includes('AUTHOR')
        "
      >
        <a class="sidebar-link" routerLink="/admin/category/list">
          <i class="align-middle" data-feather="grid"></i>
          <span class="align-middle">Category</span>
        </a>
      </li>

      <li
        class="sidebar-item"
        routerLinkActive="active"
        *ngIf="
          authService.getRoles().includes('ADMIN') ||
          authService.getRoles().includes('AUTHOR')
        "
      >
        <a class="sidebar-link" routerLink="/admin/course/list">
          <i class="align-middle" data-feather="book"></i>
          <span class="align-middle">Course</span>
        </a>
      </li>

      <li class="sidebar-item" *ngIf="authService.getRoles().includes('USER')">
        <a class="sidebar-link" routerLink="/">
          <i class="align-middle" data-feather="home"></i>
          <span class="align-middle">View Website</span>
        </a>
      </li>

      <!-- <li
        class="sidebar-item"
        routerLinkActive="active"
        *ngIf="
          authService.getRoles().includes('ADMIN') ||
          authService.getRoles().includes('AUTHOR')
        "
      >
        <a class="sidebar-link" [routerLink]="['/admin/video/list', 1]">
          <i class="align-middle" data-feather="video"></i>
          <span class="align-middle">Video</span>
        </a>
      </li> -->

      <li
        class="sidebar-item"
        routerLinkActive="active"
        *ngIf="authService.getRoles().includes('ADMIN')"
      >
        <a class="sidebar-link" routerLink="/admin/report">
          <i class="align-middle" data-feather="file-text"></i>
          <span class="align-middle">Reports</span>
        </a>
      </li>

      <li
        class="sidebar-item"
        routerLinkActive="active"
        *ngIf="
          authService.getRoles().includes('ADMIN') ||
          authService.getRoles().includes('AUTHOR')
        "
      >
        <a class="sidebar-link" [routerLink]="['/admin/profile']">
          <i class="align-middle" data-feather="user"></i>
          <span class="align-middle">Profile</span>
        </a>
      </li>

      <li
        class="sidebar-item"
        routerLinkActive="active"
        *ngIf="authService.getRoles().includes('ADMIN')"
      >
        <a
          class="sidebar-link"
          routerLink="/admin/author-application-management"
        >
          <i class="align-middle" data-feather="user-check"></i>
          <span class="align-middle">Author Applications</span>
        </a>
      </li>

      <li class="sidebar-header">Plugins & Addons</li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="charts-chartjs.html">
          <i class="align-middle" data-feather="bar-chart-2"></i>
          <span class="align-middle">Charts</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="maps-google.html">
          <i class="align-middle" data-feather="map"></i>
          <span class="align-middle">Maps</span>
        </a>
      </li>
    </ul>

    <!-- <div class="sidebar-cta">
      <div class="sidebar-cta-content">
        <strong class="d-inline-block mb-2">Upgrade to Pro</strong>
        <div class="mb-3 text-sm">
          Are you looking for more components? Check out our premium version.
        </div>
        <div class="d-grid">
          <a href="upgrade-to-pro.html" class="btn btn-primary"
            >Upgrade to Pro</a
          >
        </div>
      </div>
    </div> -->
  </div>
</nav>
