<div class="container mt-4">
  <div class="card shadow-lg border-0">
    <div class="card-header bg-success text-white">
      <h4>Add Video</h4>
    </div>

    <div class="card-body">
      <form [formGroup]="videoForm">
        <input type="hidden" formControlName="id" />

        <div class="mb-3">
          <label>Title</label>
          <input class="form-control" type="text" formControlName="title" />
        </div>

        <div class="mb-3">
          <label>Description</label>
          <textarea
            class="form-control"
            formControlName="description"
          ></textarea>
        </div>

        <div formArrayName="videoLink">
          <div
            *ngFor="let link of videoLinks.controls; let i = index"
            class="d-flex mb-2"
          >
            <input
              class="form-control"
              [formControlName]="i"
              placeholder="Enter video link"
            />

            <button
              type="button"
              class="btn btn-danger ms-2"
              (click)="removeLink(i)"
            >
              X
            </button>
          </div>
        </div>

        <button type="button" class="btn btn-secondary" (click)="addLink()">
          + Add Link
        </button>

        <button type="button" class="btn btn-success" (click)="save()">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
