<div class="container-fluid mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="fw-bold text-warning">Course Trash</h2>

    <a routerLink="/admin/course/list" class="btn btn-primary"> Back </a>
  </div>

  <div class="card shadow border-0">
    <div class="card-body p-0">
      <table class="table table-hover mb-0">
        <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let course of courses">
            <td>{{ course.id }}</td>

            <td>{{ course.name }}</td>

            <td>
              <button
                class="btn btn-success btn-sm"
                (click)="restore(course.id)"
              >
                Restore
              </button>
            </td>
          </tr>

          <tr *ngIf="courses.length === 0">
            <td colspan="3" class="text-center text-muted py-4">
              Trash is empty.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
