<section class="py-5 bg-warning">

  <div class="container">

    <div class="row text-center">

      <div class="col-md-3 mb-4 mb-md-0">

        <h2 class="fw-bold display-5">

          {{ stats?.total_students }}

        </h2>

        <p class="mb-0">
          Students
        </p>

      </div>

      <div class="col-md-3 mb-4 mb-md-0">

        <h2 class="fw-bold display-5">

          {{ stats?.total_courses }}

        </h2>

        <p class="mb-0">
          Courses
        </p>

      </div>

      <div class="col-md-3 mb-4 mb-md-0">

        <h2 class="fw-bold display-5">

          {{ stats?.total_instructors }}

        </h2>

        <p class="mb-0">
          Instructors
        </p>

      </div>

      <div class="col-md-3">

        <h2 class="fw-bold display-5">

          95%

        </h2>

        <p class="mb-0">
          Satisfaction
        </p>

      </div>

    </div>

  </div>

</section>